html, body {
  position: relative;
  height: 100%;
}

body {
  background: rgba(0, 0, 0, 0.787);
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.swiper-pagination {
  /* position: absolute; */
  display: none 
}